<!DOCTYPE html>
<html lang="en" ng-app="skillTracker">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<title>SkillTracker</title>
	</head>
	<body ng-controller="mainController">
		
		<div id="alert-placeholder"></div>
		
		<h1 class="title">SkillTracker <span class="info glyphicon glyphicon-question-sign" aria-hidden="true" popover-placement="right" popover="SkillTracker is an app that lets you keep track of how many hours you have spent on a skill. By tracking hours, you'll level up and eventually become a master!"></span></h1>

		<form class="form-inline" id="add-skill">
			<h3>Add new skill: </h3>
			<input key-bind="enter:'go()'" type="text" class="form-control" ng-model="skillName"/>
			<button class="btn btn-success" ng-click="save(skillName)">Save</button>
		</form>

		<div>
			<h2>My skills:</h2>
			<ul>
				<li ng-repeat="skill in mySkills">
					<div class="skill row form-inline">
						<div class="col-sm-2 skill-text"><span class="delete glyphicon glyphicon-remove" ng-click="delete(skill)"></span>{{skill.name}}</div>
						<div class="col-sm-2 skill-text">Level: <p>{{skill.level}}</p></div>
						<div class="col-sm-5"><progressbar class="progressbar" max="3600" value="skill.hoursLogged" type="success"><span style="color:white; white-space:nowrap;">{{skill.hoursLogged}}</span></progressbar></div>
						<div class="col-sm-3"><input type="number" class="form-control" ng-model="hours"/><button class="btn btn-success" ng-click="skill.logHour(hours)">Log hours</button></div>
					</div>
				</li>
			</ul>

		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="bootstrap.min.js"></script>
		<script src="ui-bootstrap-tpls-0.13.4.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>