<!DOCTYPE html>
<html lang="en" ng-app="skillTracker">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<link href="bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<title>SkillTracker</title>
	</head>
	<body ng-controller="mainController">
		<h1>{{title}}</h1>

		<div> 
			<h3><span>New skill to start tracking: </span><span ng-bind="skillName">{{skill}}</span></h3>
			<input type="text" ng-model="skillName"/>
			<button ng-click="save(skillName)">Save new skill</button>

		</div>

		<div>
			<h2>My skills:</h2>
			<ul>
				<li ng-repeat="skill in mySkills">
					<div class="row">
						<div class="col-sm-2">{{skill.name}}</div>
						<div class="col-sm-2">Level: {{skill.level}}</div>
						<div class="col-sm-6 progressbar"><progressbar max="10000" value="skill.hoursLogged" type="success"><span style="color:white; white-space:nowrap;">{{skill.hoursLogged}} /10 000</span></progressbar></div>
						<div class="col-sm-2"><input type="number" class="hours-input" ng-model="hours"/><button ng-click="skill.logHour(hours)">Log hours</button></div>
					</div>
				</li>
			</ul>

		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="bootstrap.min.js"></script>
		<script src="ui-bootstrap-tpls-0.13.4.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>